{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="two columns">
      {% load static %}  
      <img src="{% static 'images/twinpines.png' %}" width="128" height="128" alt="Our Logo">
    </div>
    <div class="five columns" style="margin-top:2%">
      <h4>OSCA Membership Database</h4>
    </div>
  </div>
  


  <h1>List of all Allergies in Harkness</h1>
    <table border="1" width="1000">
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Severity</td>
          <td>Member</td>
          <td>Coop</td>
          <td>Allowed in Coop?</td>
        </tr>

        {% for allergy in allergyharkness %}
        <tr>
          <td>{{ allergy.id }}</td>
          <td>{{ allergy.coop}}</td>
          <td>{{ allergy.severity}}</td>
          <td>{{ allergy.member}</td>
          <td>{{ allergy.coop}}</td>

            
        </tr>
        {% endfor %}
    </table>
{% endblock %}