{% extends "base_generic.html" %}

{% block content %}
  <h1>Osca Home</h1>
  <p>Welcome to Osca Database, a website developed by <em>Harsha, Noah, and Henry </em>!</p>
  <h2>Dynamic content</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Coops:</strong> {{ num_coops }}</li>
    <li><strong>Members:</strong> {{ num_members }}</li>
  </ul>



  <h1>List of Members in every Coop</h1>
    <table border="1" width="1000">
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Preferred Name</td>
            <td>T Number</td>
            <td>Coop</td>
            <td>Email</td>
            <td>Pronouns</td>
            <td>Time Aid</td>
            <td>Missed Jobs</td>
        </tr>

        {% for members in allmember %}
        <tr>
            <td>{{ members.id }}</td>
            <td>{{ members.first_name}}</td>
            <td>{{ members.last_name}}</td>
            <td>{{ members.preferred_name}}</td>
            <td>{{ members.tnumber}}</td>
            <td>{{ members.coop}}</td>
            <td>{{ members.email}}</td>
            <td>{{ members.pronouns}}</td>
            <td>{{ members.time_aid}}</td>
            <td>{{ members.missed_jobes}}</td>  

            
        </tr>
        {% endfor %}
    </table>
{% endblock %}

<!-- <html>

<head>
    <meta charset="UTF-8">
    <title>Members</title>
</head>

<body>

    <h1>List of Members</h1>
    <table border="1" width="600">
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Preferred Name</td>
            <td>T Number</td>
            <td>Coop</td>
            <td>Email</td>
            <td>Pronouns</td>
            <td>Time Aid</td>
            <td>Missed Jobs</td>
        </tr>

        {% for members in allmember %}
        <tr>
            <td>{{ members.id }}</td>
            <td>{{ members.first_name }}</td>
            <td>{{ members.last_name }}</td>
            <td>{{ members.preferred_name }}</td>
            <td>{{ members.tnumber}}</td>
            <td>{{ members.coop}}</td>
            <td>{{ members.email}}</td>
            <td>{{ members.pronouns }}</td>
            <td>{{ members.time_aid }}</td>
            <td>{{ members.missed_jobes}}</td>
            
        </tr>
        {% endfor %}
    </table>


</body>

</html> -->