{% extends "base_generic.html" %}

{% block content %}
<div class=" row">
  <div class="three columns">
    {% load static %}  
    <img src="{% static 'images/twinpines.png' %}" width="170" height="170" alt="Our Logo">
  </div>
  <div class="eight columns" style="margin-top:2%">
    <h1><a>OSCA Home</a></h1>
  </div>
</div>
  
<div class ="row">
  <div class="six columns">
    <p><center>Welcome to Osca Database, a website developed by <em>Harsha, Noah, and Henry </em>!</center></p>

  </div>


</div>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Coops:</strong> {{ num_coops }}</li>
    <li><strong>Members:</strong> {{ num_members }}</li>
    <li><strong>Officers:</strong>{{num_officers}}</li>
  </ul>
  
   


  <!-- <h1>List of all Officers in OSCA</h1>
    <table border="1" width="1000">
        <tr>
          <td>ID</td>
          <td>Coop</td>
          <td>Member</td>
          <td>Position Name</td>
          <td>Position Description</td>
          <td>Hours Required</td>
          <td>Emergency Contact</td>
          <td>All Osca</td>
        </tr>

        {% for officers in officers_pyle %}
        <tr>
          <td>{{ officers.id }}</td>
          <td>{{ officers.coop}}</td>
          <td>{{ officers.member}}</td>
          <td>{{ officers.position_name}}</td>
          <td>{{ officers.position_description}}</td>
          <td>{{ officers.hours_required}}</td>
          <td>{{ officers.emergency_contact}}</td>
          <td>{{ officers.all_osca}}</td>

            
        </tr>
        {% endfor %}
    </table> -->
{% endblock %}

