{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="two columns">
      {% load static %}  
      <img src="{% static 'images/twinpines.png' %}" width="128" height="128" alt="Our Logo">
    </div>
    <div class="five columns" style="margin-top:2%">
      <h4>OSCA Membership Database</h4>
    </div>
  </div>


<style>
    .columns { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin:0 auto; padding-left:5px}
    .title { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin:0 auto; padding-left:5px; font-weight: bold}
  </style>
  
  <h1 style="padding-left: 7%; font-weight: bold">List of Members in Pyle Coop</h1>
    <table border="1" width="1000">
        <tr>
            <!-- <td>Preferred Name</td> -->
            <!-- <td>Email</td> -->
            <td><div class="title">First Name</div></td>
            <td><div class="title">Last Name</div></td>
            <td><div class="title">Pronouns</div></td>
            <td><div class="title">Time Aid</div></td>
            <td><div class="title">Missed Jobs</div></td>
        </tr>
  
        {% for members in pylemembers %}
        <tr>
            <!-- <td>{{ members.preferred_name}}</td> -->
            <!-- <td>{{ members.email}}</td> -->
            <td><div class="columns" >{{ members.first_name}}</div></td>
            <td><div class="columns" >{{ members.last_name}}</div></td>
            <td><div class="columns" >{{ members.pronouns}}</div></td>
            <td><div class="columns" >{{ members.time_aid}}</div></td>
            <td><div class="columns" >{{ members.missed_jobes}}</div></td>
            
        </tr>
        {% endfor %}
    </table>
  {% endblock %}