{% extends "base_generic.html" %}

{% block content %}
<div class="row">
  <div class="two columns">
    {% load static %}  
    <img src="{% static 'images/twinpines.png' %}" width="128" height="128" alt="Our Logo">
  </div>
  <div class="five columns" style="margin-top:2%">
    <h4>OSCA Membership Database</h4>
  </div>
</div>

<style>
  .columns { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin:0 auto; padding-left:5px}
  .title { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin:0 auto; padding-left:5px; font-weight: bold}
</style>

<h1 style="padding-left: 7%; font-weight: bold">List of all Officers in Third World Coop</h1>
    <table border="1" width="1000">
        <tr>
          <td><div class="title" >name</div></td>
          <td><div class="title" >Position Name</div></td>
          <td><div class="title" >Hours Required</div></td>
          <td><div class="title" >Emergency Contact</div></td>
          <td><div class="title" >All Osca</div></td>
        </tr>

        {% for officers in officers_thirdworld %}
        <tr>
          <td><div class="columns" >{{ officers.member}}</div></td>
          <td><div class="columns" >{{ officers.position_name}}</div></td>
          <td><div class="columns" >{{ officers.hours_required}}</div></td>
          <td><div class="columns" >{{ officers.emergency_contact}}</div></td>
          <td><div class="columns" >{{ officers.all_osca}}</div></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}