{% extends "base_generic.html" %}

{% block content %}
  <h1>Total number of Officers</h1>
  <p>The database has the following number of officers:</p>
  <ul>
    <li><strong>Officers:</strong>{{num_officers}}</li>
  </ul>

  <style>
    .columns { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; margin:0 auto; padding-left:5px}
  </style>


  <h1 style="padding-left: 12%; font-weight: bold" >List of all Officers in OSCA</h1>
    <table border="1" width="1000">
        <tr>
          <td>Coop</td>
          <td>Member</td>
          <td>Position Name</td>
          <!-- <td>Position Description</td> -->
          <td>Hours Required</td>
          <td>Emergency Contact</td>
          <td>All Osca</td>
        </tr>

        {% for officers in object_list %}
        <tr>
          <td><div class="columns" >{{ officers.coop }}</div></td>
          <td><div class="columns" >{{ officers.member}}</div></td>
          <td><div class="columns" >{{ officers.position_name}}</div></td>
          <td><div class="columns" >{{ officers.hours_required}}</div></td>
          <td><div class="columns" >{{ officers.emergency_contact}}</div></td>
          <td><div class="columns" >{{ officers.all_osca}}</div></td>

            
        </tr>
        {% endfor %}
    </table>
    <div class="pagination" style ="width: 50%; margin: 0 auto;">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"> next </a>
              <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% endblock %}