{% extends "base_generic.html" %}

{% block content %}
<style>

    .selectmenu{
      display:grid; 
      justify-content: center;
      align-items:center;


    }

 



  </style>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="row">
    <div class="two columns">
      {% load static %}  
      <img src="{% static 'images/twinpines.png' %}" width="128" height="128" alt="Our Logo">
    </div>
    <div class="five columns" style="margin-top:2%">
      <h4>OSCA Membership Database</h4>
    </div>
  </div>
  
  <div class="container" style="margin-top:5%;margin-left:5%">
    <h1> <center>Keep Menu</center></h1>

</div>

<div class="selectmenu" style="margin-right:10%">
<h1> What do you want to do?</h1>

    <h4><center>Select an option!</center></h4>
    <button onclick="window.location.href='{% url ';keep-members;'%}'">Show Keep Members</button>
    <button onclick="window.location.href='{% url ';keep-officers;'%}'">Show Keep Officers</button>
    <!-- <button onclick="window.location.href='{% url ';keep-allergies;'%}'">Show Allergies of Keep Members</button> -->
    <button onclick="window.location.href='{% url ';keep-budget;'%}'">Show Keep Budget</button>
    <button onclick="window.location.href='{% url ';keep-workchart;'%}'">Keep Workchart</button>


    
    
    







</div> 



{% endblock %}