{% extends "base_generic.html" %}

{% block content %}



  <h1>List of Coops in Oberlin</h1>
    <table border="1" width="1000">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Address</td>
            <td>Building</td>
            <td>Vegan</td>
            <td>Number of Dining Students</td>
            <td>Number of Housing Students</td>
            <td>Hours Needed</td>
        </tr>

        {% for coops in object_list %}
        <tr>
            <td>{{ coops.id }}</td>
            <td>{{ coops.name}}</td>
            <td>{{ coops.address}}</td>
            <td>{{ coops.building}}</td>
            <td>{{ coops.vegan}}</td>
            <td>{{ coops.num_dining}}</td>
            <td>{{ coops.num_housing}}</td>
            <td>{{ coops.hours_needed}}</td>

            
        </tr>
        {% endfor %}
    </table>

    <div class="pagination" style ="width: 50%; margin: 0 auto;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> next </a>
                <a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}